.sellCoins {
  margin-left: 10px;
}
.transContainer {
  display: flex;
}
.inputNumbuy {
  /* background-color: black; */
  padding-top: 20px;
  width: 180px;
  display: flex;
}
.inputCon {
  display: flex;
}
.icons {
  padding-top: 5px;
  margin-left: 5px;
  margin-right: 5px;
}
