.App {
   text-align: center;
}

.App-logo {
   height: 40vmin;
}

.App-header {
   background-color: #282c34;
   min-height: 100vh;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   font-size: calc(10px + 2vmin);
   color: white;
}

.App-link {
   color: #09d3ac;
}

.container {
   width: 80%;
   height: 100%;
   background: "white";
}

hr {
   width: 10%;
   border: 2px solid white;
   margin-bottom: 3vh;
}

.MuiTablePagination-root:last-child {
   border-bottom: none;
}

.recharts-wrapper {
   position: absolute !important;
   cursor: default;
   height: 250px;
   top: 4vh;
   color: white !important;
}

@media (min-width: 600px) {
   .MuiTab-root {
      min-width: 123.5px !important;
   }
}

.recharts-wrapper {
   position: absolute !important;
   right: -40vw !important;
   top: -2vh !important;
}

.hover-custom-tooltip {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   background-color: white;
   border: 1px #b3bac1 solid;
   padding: 10px;
}
.price-hover {
   color: #532cdd;
}
.volume-hover {
   color: #413ea0;
}

.recharts-legend-item-text {
   color: black !important;
}

.recharts-legend-wrapper {
   bottom: -5px !important;
}

.MuiTabs-scrollable {
   background: linear-gradient(to left, #39366b 0%, #6a407f 42%) !important;
   color: white !important;
}

.widget {
   position: absolute;
   top: 25%;
   left: 25%;
   display: flex;
   height: 200px;
   width: 400px;
   transform: translate(-50%, -50%);
   flex-wrap: wrap;
   cursor: pointer;
   border-radius: $border-radius;
   box-shadow: 0 27px 55px 0 rgba(0, 0, 0, 0.3),
      0 17px 17px 0 rgba(0, 0, 0, 0.15);
}

.widget1 {
   position: absolute;
   top: 25%;
   left: 50%;
   display: flex;
   height: 200px;
   width: 400px;
   transform: translate(-50%, -50%);
   flex-wrap: wrap;
   cursor: pointer;
   border-radius: $border-radius;
   box-shadow: 0 27px 55px 0 rgba(0, 0, 0, 0.3),
      0 17px 17px 0 rgba(0, 0, 0, 0.15);
}

.widget2 {
   position: absolute;
   top: 25%;
   left: 75%;
   display: flex;
   height: 200px;
   width: 400px;
   transform: translate(-50%, -50%);
   flex-wrap: wrap;
   cursor: pointer;
   border-radius: $border-radius;
   box-shadow: 0 27px 55px 0 rgba(0, 0, 0, 0.3),
      0 17px 17px 0 rgba(0, 0, 0, 0.15);
}

.weatherIcon {
   flex: 1 100%;
   height: 60%;
   background: #fafafa;
   display: flex;
   align-items: center;
   justify-content: space-around;
   font-size: 100px;
}

.weatherInfo {
   flex: 0 0 70%;
   height: 40%;
   background: #080705;
   display: flex;
   align-items: center;
   color: white;
}
.temperature {
   flex: 0 0 40%;
   width: 100%;
   font-size: 65px;
   display: flex;
   justify-content: space-around;
}

.description {
   flex: 0 60%;
   display: flex;
   flex-direction: column;
   width: 100%;
   height: 100%;
   justify-content: center;
}
.weatherCondition {
   text-transform: uppercase;
   font-size: 18px;
   font-weight: 100;
}
.date {
   flex: 0 0 30%;
   height: 40%;
   background: #4e2072;
   display: flex;
   justify-content: space-around;
   align-items: center;
   color: white;
   font-size: 30px;
   font-weight: 800;
}

h1 {
   font-size: 50px !important;
}

.makeStyles-root-1 .MuiPaper-root .MuiPaper-elevation2 .MuiPaper-rounded {
   margin: 0 auto !important;
   width: 76vw !important;
   margin-top: 37vh !important;
}

.weatherIcon1 {
   flex: 1 100%;
   height: 60%;
   background: #fafafa;
   display: flex;
   align-items: center;
   justify-content: space-around;
   font-size: 100px;
}

.weatherInfo1 {
   flex: 0 0 70%;
   height: 40%;
   background: #080705;
   display: flex;
   align-items: center;
   color: white;
}
.temperature1 {
   flex: 0 0 40%;
   width: 100%;
   font-size: 65px;
   display: flex;
   justify-content: space-around;
}

.description1 {
   flex: 0 60%;
   display: flex;
   flex-direction: column;
   width: 100%;
   height: 100%;
   justify-content: center;
}
.weatherCondition1 {
   text-transform: uppercase;
   font-size: 24px;
   font-weight: 100;
   margin: 0 auto;
}
.date1 {
   flex: 0 0 30%;
   height: 40%;
   background: #4e2072;
   display: flex;
   justify-content: space-around;
   align-items: center;
   color: white;
   font-size: 30px;
   font-weight: 800;
}

.red {
   color: red;
}

.purple {
   color: blueviolet;
}
