.App {
  text-align: center;
  background-image: url(../src/images/bg2.jpg);
  background-size: cover;
  min-height: 100vh;
}
.logo {
  width: 25px;
  height: 25px;
}
.symbol {
  text-transform: uppercase;
}
.hover-custom-tooltip {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: white;
  border: 1px #b3bac1 solid;
  padding: 10px;
}
.price-hover {
  color: #6fc5d5;
}
.volume-hover {
  color: #2aa1a7;
}
