#customers {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#customers td, #customers th {
  border: 1px solid #ddd;
  padding: 8px;
}
/* 
#customers tr:nth-child(even){background-color: #f2f2f2;}

#customers tr:hover {background-color: #ddd;} */

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
}
.name{
  text-transform: uppercase;
  font-size:30px;
  margin-left:20px;
}
.symbol{
  font-weight: bold;
  margin-left:5px;
  font-size:15px;
}
.price{
  font-size: 30px;
  color:green;
}
.info{
  font-weight:bold
}
.names{
  text-transform: uppercase;
  font-weight: normal;
  font-size:25px;
}
em{
  font-style:normal;
}
