body {
  box-sizing: border-box;
  background-color: whitesmoke;
}

.nav-header {
  background-color: rgb(88, 184, 88);
}

.title-text {
  font-size: 25px;
  font-weight: 700;
  color: whitesmoke;
  margin-left: 70px;
}

.table-cont {
  box-sizing: border-box;
  border: 5px solid lightgray;
  border-radius: 10px;
  width: 75%;
  margin: auto;
  margin-top: 50px;
}

.invest-cont {
  box-sizing: border-box;
  border: 5px solid lightgray;
  border-radius: 10px;
  width: 75%;
  margin-top: 50px;
  margin-left: 50px;
}

.detail-cont {
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  width: 55%;
  margin: auto;
  margin-top: 100px;
  margin-bottom: 20px;
  padding: 10px 10px 10px 10px;
}

.logo-box {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  height: 250px;
}

.logo-name {
  margin-top: 30px;
  margin-left: 10px;
}

.des {
  box-sizing: border-box;
  overflow: auto;
  height: 250px;
  padding: 10px 20px 10px 20px;
}

.chart {
  box-sizing: border-box;
  width: 100%;
  margin-top: 1px;
  height: 300px;
}

.profit-cont {
  box-sizing: border-box;
  margin-top: 50px;
  margin-left: 10px;
  border: 3px solid lightgray;
  border-radius: 10px;
  height: 250px;
  width: 430px;
  padding-top: 20px;
  padding-left: 20px;
  font-size: 25px;
}

.total {
  font-size: 50px;
  padding-top: 40px;
  padding-left: 10px;
}

.upcase {
  text-transform: uppercase;
}

.weight {
  font-weight: 700;
}

.resize {
  height: 30px;
  width: 30px;
  margin-right: 5px;
}

.g {
  color: green;
}

.r {
  color: red;
}

.size {
  font-size: 35px;
}
.btn-cont {
  display: flex;
  flex-direction: row;
  margin: 20px 0px 15px 60px;
}

.btn {
  color: whitesmoke;
}
.pos {
  margin-left: 300px;
}

.row {
  display: flex;
  flex-direction: row;
}

.align {
  display: flex;
  flex-direction: row;
  padding-left: 20px;
  padding-top: 20px;
}

.ml {
  margin-left: 20px;
}

.back-btn {
  margin-bottom: 20px;
}

.r {
  display: flex;
  flex-direction: row;
}

.right {
  margin-right: 50px;
}

@font-face {
  font-family: "Material Icons";
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/materialicons/v48/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2)
    format("woff2");
}
.material-icons {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: "liga";
  -webkit-font-smoothing: antialiased;
}
.MuiTableRow-root:hover {
  background: #dedede !important;
}
span {
  font-size: 15px;
}
