.ant-table-thead {
  color: red !important;
}
.coinsInfo {
  /* display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: rgb(242, 247, 247); */
  font-weight: bold;
  text-align: justify;
  /* background-color: rgb(230, 236, 221); */
}
.descriptionContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-top:15px
  /* background-color: rgb(21, 37, 4); */
}
.logoNameContainer {
  display: flex;
  align-items: flex-start;
  background-color:whitesmoke;
}
/* .logoContainer {
  display: flex;
  align-items: flex-start;
} */
.price {
  margin-top: -50px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
}
.logoImage {
  width: 20px;
  margin-top: 10px;
  margin-left: 5px;
}
.symbol{
  margin-top: 10px;
  margin-left: 5px;
}
.coinsName{
  margin-left: 5px;
  margin-top:5px
}
.coinsChart{
  padding-top: 10px;
}
.collapse {
  /* font-weight: bold;
  display: flex;
  flex-wrap: wrap; */

}
.details{
  font-weight: bold;
}
/* transaction */
.transactionContainer{
  padding-left: 50px;
  margin-top: 10px;
  justify-content: space-around;
  display: flex;

}